<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>회원가입, 로그인, 회원정보수정 실습 (with. 세션)</h1>
    <% if(isLoggedIn) { %>
    <p><%= userName %>님 환영합니다.</p>
    <% }else{ %>
    <p>아직 로그인을 하지 않으셨군요.</p>
    <% } %>
    <br />

    <% if(isLoggedIn) { %>
    <a href="/logout">로그아웃</a>
    <% }else{ %>
    <a href="/register">회원가입</a>
    <a href="/login">로그인</a>
    <% } %>

    <a href="/users">전체회원</a>
    <% if(isLoggedIn) { %>
    <a href="/profile">내 프로필</a>
    <% } %>
  </body>
</html>
