<header class="header">
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/sesac">Sesac</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Resitser</a></li>
  </ul>
</header>
