<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC 패턴</title>
</head>

<body>
  <h1>
    <%= comment.userid %> 님의 댓글입니다.
  </h1>

  <ul>
    <li>작성일:
      <%= comment.date %>
    </li>
    <li>댓글 내용:
      <%= comment.comment %>
    </li>
  </ul>
</body>

</html>