@import './variables.scss';
@import './utils.scss';
// SASS styling
// - 변수 선언: $ 키워드 사용
// $color-first: red;
// $color-second: orange;
// $color-third: yellow;
// $animation-duration: 0.4s;

// - 믹스인(함수) 선언(정의)
// @mixin box($size) {
//   width: $size;
//   height: $size;
// }

.container {
  display: flex;
  .box {
    // 믹스인 호출
    @include box(150px);
    // width: 100px;
    // height: 100px;
    border: 1px solid;
    transition: transform ease-in-out $animation-duration * 2;

    // &: 부모 선택자 참조해서 치환
    &.red {
      background-color: $color-first;
    }
    &.orange {
      background-color: $color-second;
    }
    &.yellow {
      background-color: $color-third;
    }

    &:hover {
      transform: translateY(-20px);
    }
  }
}

.btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  cursor: pointer;
}

.btn-primary {
  // - 확장 : 기존 선택자 스타일을 다른 선택자에게 상속
  @extend .btn;
  background-color: $color-third;
}

@media (max-width: #{$breakpoint-sm}) {
  .container {
    flex-direction: column;
  }
}
