<!DOCTYPE html>
<html lang="ko">
<%- include('include/include', { title: '실습 | 회원가입/로그인 구현' })%>

  <body class="red">
    <!-- TODO: href 속성값 설정하기 -->
    <div class="home">
      <h1>Welcome to the <span>Destiny</span></h1>
      <a class="btn" href="/user/signup">회원가입</a>
      <a class="btn" href="/user/signin">로그인</a>
      <p>©Copyright 2020</p>
    </div>

  </body>

</html>