* {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  background-color: #eee;
}

header ul {
  display: flex;
  gap: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

.Main {
  background-color: #ddd;
  height: 100%;
}

.Main.Dark {
  background-color: #333;
  color: #fff;
}
